{%- doc -%}
  Renders a quick-add variant picker, used to display the variant picker in the quick-add modal.

  @param {object} product_resource - The product object.
{%- enddoc -%}
{% assign product_option = product_resource.options_with_values[0] %}

<quick-overlay hidden data-product-id="{{ product_resource.id }}" data-product-url="{{ product_resource.url }}">
    <div class="product-card-overlay text-center">
        <span class="h6 uppercase">{{ 'products.product.quick_option_label' | t: option_name: product_option.name }}</span>

        <div class="options-set flex gap-xs">
            {% for value in product_option.values %}
                <div class="option-set-item">
                    <button type="button" class="option-button" data-value="{{ value }}" id="card-radio-{{ product_resource.id }}-{{ forloop.index }}"
                    {% if value.variant.metafields.custom.shipping_text.value != blank %}
                        data-text="{{ value.variant.metafields.custom.shipping_text.value }}"
                    {% endif %}
                    >{{ value | replace: 'Size:', '' }}</button>
                    <span class="text-center message-button message-button-inline" 
                    {% if value.variant.metafields.custom.shipping_text.value != blank %}
                        data-text="{{ value.variant.metafields.custom.shipping_text.value }}"
                    {% endif %}
                    data-id="card-radio-{{ product_resource.id }}-{{ forloop.index }}"></span>
                </div>
            {% endfor %}
        </div>
        <span class="text-center hidden--mobile message-button message-button-below fade"></span>
    </div>
    
    <script type="application/json">
        {{ product_resource.variants | json }}
    </script>
</quick-overlay>