{% if block.settings.items_list == blank %}
  {% break %}
{% endif %}

{% liquid
  assign block_settings = block.settings
  assign text_width = '100%'

  if block_settings.font_size contains 'heading-lg' or block_settings.font_size contains 'heading-xl'
    assign type = 'display'
  elsif block_settings.font_size contains 'heading'
    assign type = 'heading'
  else
    assign type = 'body'
  endif
  if block_settings.type_preset == 'rte' or block_settings.type_preset == 'paragraph'
    assign is_rte = true
  endif

  capture text_block_classes
    if text_width == '100%'
      echo 'text-block--align-' | append: block_settings.alignment
      if block_settings.max_width == 'none'
        echo ' text-block--full-width '
      endif
    endif
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
    if block_settings.background
      echo ' text-block--background '
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% capture attributes %}
  class="spacing-style text-block text-block--{{ block.id }} {{ block_settings.type_preset }}
    {{ text_block_classes }}
  "

  style="
    {% render 'typography-style', settings: block_settings %}
    --width: {{ text_width }};
    --max-width: var(--max-width--{{ type }}-{{ block_settings.max_width }});
    {% if text_width == "100%" %}
      --text-align: {{ block_settings.alignment }};
    {% endif %}
  "

  {{ block.shopify_attributes }}
{% endcapture %}
{% liquid
  # {{ attributes }} must be on the immediate HTML parent of the text to preserve
  # the click-to-edit connection in the theme editor. Any break between the text,
  # including if-statements, will break the connection.

  assign element = 'div'
  if is_rte
    assign element = 'rte-formatter'
  endif
%}

<accordion-custom
  {% if block.settings.open_by_default %}
    open-by-default-on-desktop
    open-by-default-on-mobile
  {% endif %}
>
  <details
    class="details details-reviews"
    data-testid="accordion-details"
    {{ block.shopify_attributes }}
  >
    <summary class="details__header">
      <div class="title--aligned-center">
        <div>
          {{ block.settings.heading }}
        </div>
        <div>
          <div class="stars-tab-title flex">
            {% for item in (1..5) %}
              <div>
                {{ 'icon-star.svg' | inline_asset_content }}
              </div>
            {% endfor %}
            <div>
              {% liquid
                assign map_star = block.settings.items_list | map: 'star'
                assign total = map_star | sum
                assign count = map_star | size
                assign average = total | divided_by: count | times: 1.0
              %}
              <span class="average-stars">{{ average }}</span>
            </div>
          </div>
        </div>
      </div>
      <span class="svg-wrapper icon-caret icon-animated">
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </span>
      <span class="svg-wrapper icon-plus">
        {{- 'icon-plus.svg' | inline_asset_content -}}
      </span>
    </summary>

    <div class="details-content">
      {% for item in block.settings.items_list %}
        <div class="review-box-item layout-panel-flex layout-panel-flex--column" style="--gap: var(--gap-lg);">
          <div class="stars-tab-title flex">
            {% for item in (1..5) %}
              <div>
                {{ 'icon-star.svg' | inline_asset_content }}
              </div>
            {% endfor %}
          </div>
          <{{ element }} {{ attributes }}>
            <p>{{ item.title }}</p>
          </{{ element }}>

          <rte-formatter
            class="spacing-style text-block custom custom-typography custom-font-size"
            style="
              --padding-block-start: 0px; --padding-block-end:0px;
              --padding-inline-start:0px; --padding-inline-end:0px;
              --width: fit-content;
              --max-width: var(--max-width--body-normal);
              --font-size: 1rem;
              --font-weight: var(--font-body--weight);
              --font-family: var(--font-body--family);
              --line-height: 1;
            "
          >
            <p>{{ item.content }}</p>
          </rte-formatter>

          <rte-formatter
            class="spacing-style text-block review-author custom custom-typography custom-font-size custom-color"
            style="
              --padding-block-start: 0px; --padding-block-end:0px;
              --padding-inline-start:0px; --padding-inline-end:0px;
              --width: fit-content;
              --max-width: var(--max-width--body-normal);
              --font-size: 0.75rem;
              --font-weight: var(--font-heading--weight);
              --font-family: var(--font-heading--family);
              --text-transform: uppercase;
              --line-height: 1;
              --color: rgb(0, 0, 0);
            "
          >
            <p>{{ item.author }}</p>
          </rte-formatter>
        </div>
      {% endfor %}
    </div>
  </details>
</accordion-custom>

{% stylesheet %}
  .details__icon {
    margin-inline-start: var(--margin-xs);
    height: auto;
  }

  .stars-tab-title {
    gap: var(--gap-3xs);
    align-items: center;
  }

  .review-box-item {
    gap: var(--gap);
    padding-block-end: var(--padding-xl);
    margin-block-end: var(--margin-xl);
    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border);
    }

    &:last-child {
      padding-block-end: 0;
      margin-block-end: 0;
    }
  }
  .review-author {
    text-transform: uppercase;
  }
  .stars-tab-title svg {
    height: 0.875rem;
    width: auto;
  }

  .average-stars {
    font-size: var(--font-size--xs);
    margin-inline-start: var(--margin-2xs);
  }

  .accordion--dividers accordion-custom:last-child .details-reviews {
    border-block-end: 0;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Accordion row (reviews)",
  "tag": null,
  "settings": [
    {
      "type": "metaobject_list",
      "id": "items_list",
      "label": "Reviews List",
      "metaobject_type": "review_content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.heading",
      "default": "t:text_defaults.accordion_heading"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "custom",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_size",
      "label": "Enable mobile custom font size",
      "default": false,
      "info": "optional"
    },
    {
      "type": "select",
      "id": "mobile_font_size",
      "label": "Mobile custom font size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        },
        {
          "value": "1.25rem",
          "label": "20px"
        },
        {
          "value": "1.5rem",
          "label": "24px"
        },
        {
          "value": "1.6rem",
          "label": "26px"
        },
        {
          "value": "1.8rem",
          "label": "28px"
        },
        {
          "value": "2rem",
          "label": "32px"
        },
        {
          "value": "2.5rem",
          "label": "40px"
        },
        {
          "value": "3rem",
          "label": "48px"
        },
        {
          "value": "3.5rem",
          "label": "56px"
        },
        {
          "value": "4.5rem",
          "label": "72px"
        },
        {
          "value": "5.5rem",
          "label": "88px"
        },
        {
          "value": "7.5rem",
          "label": "120px"
        },
        {
          "value": "9.5rem",
          "label": "152px"
        },
        {
          "value": "11.5rem",
          "label": "184px"
        }
      ],
      "default": "1rem",
      "visible_if": "{{ block.settings.enable_mobile_size == true }}"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--font-accent--family)",
          "label": "t:options.accent"
        }
      ],
      "default": "var(--font-accent--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        },
        {
          "value": "1.25rem",
          "label": "20px"
        },
        {
          "value": "1.5rem",
          "label": "24px"
        },
        {
          "value": "2rem",
          "label": "32px"
        },
        {
          "value": "2.5rem",
          "label": "40px"
        },
        {
          "value": "3rem",
          "label": "48px"
        },
        {
          "value": "3.5rem",
          "label": "56px"
        },
        {
          "value": "4.5rem",
          "label": "72px"
        },
        {
          "value": "5.5rem",
          "label": "88px"
        },
        {
          "value": "7.5rem",
          "label": "120px"
        },
        {
          "value": "9.5rem",
          "label": "152px"
        },
        {
          "value": "11.5rem",
          "label": "184px"
        }
      ],
      "default": "0.75rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "checkbox",
      "id": "open_by_default",
      "label": "t:settings.open_row_by_default",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Accordion row (reviews)",
      "settings": {
        "heading": "REVIEWS"
      }
    }
  ]
}
{% endschema %}
