

{%- assign block_settings = block.settings -%}

{% capture title %}
  {% content_for 'block', id: 'heading', type: '_heading', text: article.title %}
{% endcapture %}

{% capture details %}
  {% content_for 'block',
    id: 'blog-post-details',
    type: '_blog-post-info-text',
    alignment: block_settings.alignment,
    article: article
  %}
{% endcapture %}

{% capture description %}
  {% content_for 'block', id: 'content', type: '_blog-post-description', article: article %}
{% endcapture %}

<div
  class="blog-post-card"
  style="--text-align: {{ block_settings.alignment }}"
>
  {%- if article.image -%}
    <div class="blog-post-card__image-container {% if block.settings.zoom_on_hover == true %}zoom-on-hover{% endif %}">
      <a href="{{ article.url }}">
        {% content_for 'block', id: 'image', type: '_blog-post-image', image: article.image %}
      </a>
    </div>
  {%- endif -%}

  <div class="blog-post-card__content">
    <a href="{{ article.url }}">{{ title }}</a>

    {{ details }}

    {{ description }}
  </div>
</div>

{% stylesheet %}
  .blog-post-card {
    display: flex;
    flex-direction: column;
    text-align: var(--text-align);
  }
  
  .resource-list__carousel .blog-post-card {
    @media (max-width: 749px) {
      .blog-post-card__content {
        padding-block: 0;
        padding-inline: var(--padding-lg);
      }
    }
  }

  .blog-posts-container .blog-post-card {
    @media (max-width: 749px) {
      flex-direction: row;
      gap: 1rem;

      .text-block {
        font-size: var(--font-h6--size);
      }
    }
  }

.blog-posts-container
  .blog-post-item .blog-post-card__image-container,
  .blog-post-item .blog-post-card__content {
    width: 100%;
  }

  .blog-post-card__content {
    padding-block-start: 0.4rem;
    display: flex;
    flex-direction: column;
  }

  .blog-post-card__content a {
    display: block;
    text-wrap: pretty;
    text-decoration: none;
    padding-block-start: 0.75rem;
  }

  .blog-post-card__content a:hover,
  .blog-post-card__content a:hover [style*='--color: var(--color-primary)'] {
    color: var(--color-primary-hover);
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground-heading)'] {
    color: rgb(var(--color-foreground-heading-rgb) / var(--opacity-subdued-text));
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground)'] {
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_post",
  "settings": [
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "zoom_on_hover",
      "label": "Scale Image on hover",
      "default": false
    }
  ]
}
{% endschema %}
