{%- doc -%}
  Renders block content for all blocks that extend the group block.
  @param {boolean} [required] - required
  @param {boolean} [only_one_required] - Only one required
  @param {number} loop_index - loop index
  @param {object} item - The object item

  @example
  {% render 'group', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}
{%- enddoc -%}

{% assign block_settings = block.settings %}

{% capture style %}
  {% render 'size-style', settings: block_settings %}
{% endcapture %}

{% assign show_only_if = item.show_only_if.value | strip | strip_newlines | split: ' | '%}
{% assign show_only_name = show_only_if.first %}
{% assign show_only_value = show_only_if.last %}

<div
    class="size-style dropdown-details {% if show_only_if != blank %}hidden{% endif %}"
    data-title="{{ item.external_title | strip }}"
    style="{{ style }}"
    {{ block_settings.shopify_attributes }}
>
    {% capture id %}Option-{{ block.id }}-{{ loop_index }}{% endcapture %}

    {% assign options = item.sizes.value %}
    {% assign use_variant = false %}

    {% if item.sizes.value == blank and item.product_variants.value != blank %}
        {% assign options = item.product_variants.value %}
        {% assign use_variant = true %}
    {% endif %}

    {% if only_one_required == true %}
        {% capture class %}only-one-req{% endcapture %}
    {% endif %}

    {% render 'custom-select',
        id: id,
        trigger_other_option_list: item.trigger_other_option_list.value,
        label: item.external_title,
        options: options,
        default_empty: true,
        use_product: false,
        use_variant: use_variant,
        required: required,
        show_only_name: show_only_name,
        show_only_value: show_only_value,
        parent_option_class: 'dropdown-details',
        class: class
    %}
</div>

{% stylesheet %}
    .detail-message {
        margin-top: var(--margin-sm);
        line-height: 1em;
    }
    .has-detail-error > .detail-message {
        display: block !important;
        color: var(--color-primary-hover);
    }

    .has-detail-error custom-input .error-message {
        display: none !important;
    }

    .has-detail-error custom-input label {
        color: var(--color-foreground) !important;
    }

    .has-detail-error .custom-input--field {
        --color-input-border: var(--color-primary-hover);
    }
{% endstylesheet %}

{% schema %}
    {
        "name": "Dropdown",
        "tag": null,
        "settings": [
            {
                "type": "select",
                "id": "width",
                "label": "t:settings.width_desktop",
                "options": [
                    {
                    "value": "fit-content",
                    "label": "t:options.fit_content"
                    },
                    {
                    "value": "fill",
                    "label": "t:options.fill"
                    },
                    {
                    "value": "custom",
                    "label": "t:options.custom"
                    }
                ],
                "default": "fill"
                },
                {
                "type": "range",
                "id": "custom_width",
                "label": "t:settings.custom_width",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 100,
                "visible_if": "{{ block.settings.width == 'custom' }}"
                },
                {
                "type": "select",
                "id": "width_mobile",
                "label": "t:settings.width_mobile",
                "options": [
                    {
                    "value": "fit-content",
                    "label": "t:options.fit_content"
                    },
                    {
                    "value": "fill",
                    "label": "t:options.fill"
                    },
                    {
                    "value": "custom",
                    "label": "t:options.custom"
                    }
                ],
                "default": "fill"
                },
                {
                "type": "range",
                "id": "custom_width_mobile",
                "label": "t:settings.custom_width",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 100,
                "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
            }
        ]
    }
{% endschema %}