{% assign block_settings = block.settings %}

{% if block_settings.hide_if_tag != blank and product.tags contains block_settings.hide_if_tag %}
    {% break %}
{% endif %}

{% capture style %}
  {% render 'size-style', settings: block_settings %}
{% endcapture %}

<div
    class="size-style custom-input-block"
    style="{{ style }}"
    {{ block.shopify_attributes }}
>
        {% case block_settings.type %}
            {% when 'textarea' %}
                {% capture field %}
                    <custom-input class="custom-input--field">
                        <div class="custom-input-wrapper">
                            <textarea
                            id="CustomForm-{{ block_settings.label | handleize }}"
                            class="custom-form__input"
                            name="properties[{{ block_settings.name }}]"
                            placeholder="{{ block_settings.label }}"
                            rows="5"
                            {% if block_settings.required == true %}
                                required
                            {% endif %}
                            ></textarea>

                            <label
                                for="CustomForm-{{ block_settings.label | handleize }}"
                            >
                                {{ block_settings.label }}{% if block_settings.required == true %}<span aria-hidden="true">*</span>{% endif %}
                            </label>
                        </div>
                        {% if block_settings.error_message != blank %}
                            <div class="error-message hidden">
                                {{ block_settings.error_message }}
                            </div>
                        {% endif %}
                    </custom-input>
                {% endcapture %}

                {% if block_settings.heading  != blank %}
                    <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column"
                        style="--flex-direction: column; --flex-wrap: nowrap; --gap: 12px; --horizontal-alignment: flex-start; --vertical-alignment: center; --vertical-alignment-mobile: center;">
                        <div class="spacing-style text-block custom custom-typography custom-font-size custom-color"
                            style="--padding-block-start: 0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color: var(--color-foreground); --font-size: 0.75rem; --font-weight: var(--font-subheading--weight); --font-family: var(--font-subheading--family); --text-transform: uppercase; --text-wrap: pretty; --line-height: var(--line-height--body-normal); --letter-spacing: var(--letter-spacing--body-normal); --width: fit-content; --max-width: var(--max-width--body-normal);">
                            {{ block_settings.heading }}
                        </div>
                        <div class="size-style" style="--size-style-width: 100%; --size-style-height: ; --size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;">
                            {{ field }}
                        </div>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% when 'datepicker' %}
                <div class="group-block-content parent-group-datepicker layout-panel-flex layout-panel-flex--column mobile-column"
                style="--flex-direction: column; --flex-wrap: nowrap; --gap: 12px; --horizontal-alignment: flex-start; --vertical-alignment: center; --vertical-alignment-mobile: center;">
                    {% if block_settings.heading != blank %}
                        <div class="spacing-style text-block custom custom-typography custom-font-size custom-color"
                            style="--padding-block-start: 0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color: var(--color-foreground); --font-size: 0.75rem; --font-weight: var(--font-subheading--weight); --font-family: var(--font-subheading--family); --text-transform: uppercase; --text-wrap: pretty; --line-height: var(--line-height--body-normal); --letter-spacing: var(--letter-spacing--body-normal); --width: fit-content; --max-width: var(--max-width--body-normal);">
                            {{ block_settings.heading }}
                        </div>
                    {% endif %}
                    <div class="size-style" style="--size-style-width: 100%; --size-style-height: ; --size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;">
                        <custom-input class="custom-input--field">
                            <div class="custom-input-wrapper">
                                <date-picker data-standard-date="{{ block.settings.standard_lead_date | plus: 0 }}">
                                    <input
                                        type="text"
                                        id="CustomForm-{{ block_settings.label | handleize }}"
                                        name="properties[{{ block_settings.name }}]"
                                        class="custom-form__input"
                                        aria-label="dd/mm/yyyy"
                                        placeholder="dd/mm/yyyy"
                                        readonly
                                        autocomplete="off"
                                        {% liquid
                                            assign tag_lead_date = 0
                                            for tag in product.tags
                                                if tag contains 'wedding-date-min-'
                                                    assign tag_lead_date = tag | replace: 'wedding-date-min-', '' | plus: 0
                                                endif
                                            endfor
                                        %}

                                        {% if tag_lead_date > 0 %}
                                            data-lead-date="{{ tag_lead_date }}"
                                        {% else %}
                                            data-lead-date="{{ block_settings.lead_date }}"
                                        {% endif %}

                                        {% if block_settings.required == true %}
                                            required
                                        {% endif %}
                                    >
                                    <label
                                        for="CustomForm-{{ block_settings.label | handleize }}"
                                    >
                                        {{ block_settings.label }}{% if block_settings.required == true %}<span aria-hidden="true">*</span>{% endif %}
                                    </label>

                                    <span class="datepicker-icon">
                                        {{- 'icon-date.svg' | inline_asset_content -}}
                                    </span>
                                    <div class="ai-datepicker-calendar">
                                        <div class="ai-datepicker-header">
                                            <button type="button" class="ai-datepicker-nav" data-action="prev-month" aria-label="Previous month">
                                                {{- 'icon-caret.svg' | inline_asset_content -}}
                                            </button>
                                            <div class="ai-datepicker-month-year h5"></div>
                                    
                                            <button type="button" class="ai-datepicker-nav" data-action="next-month" aria-label="Next month">
                                                {{- 'icon-caret.svg' | inline_asset_content -}}
                                            </button>
                                        </div>
                                    
                                        <div class="ai-datepicker-grid">
                                            <div class="ai-datepicker-day-header">S</div>
                                            <div class="ai-datepicker-day-header">M</div>
                                            <div class="ai-datepicker-day-header">T</div>
                                            <div class="ai-datepicker-day-header">W</div>
                                            <div class="ai-datepicker-day-header">T</div>
                                            <div class="ai-datepicker-day-header">F</div>
                                            <div class="ai-datepicker-day-header">S</div>
                                        </div>
                                        <div class="ai-datepicker-year-selector hidden"></div>
                                    </div>
                                </date-picker>
                            </div>
                            {% if block_settings.error_message != blank %}
                                <div class="error-message hidden">
                                    {{ block_settings.error_message }}
                                </div>
                            {% endif %}
                        </custom-input>
                    </div>

                    {% unless product.tags contains 'no-priority-fee' %}
                        {% for item in block_settings.priority_fees %}
                            <div class="priority-fee-item" data-variant-price="{{ all_products[item.product].selected_or_first_available_variant.price }}" data-lead-date="{{ item.lead_date }}" data-product-id="{{ all_products[item.product].selected_or_first_available_variant.id }}">
                                <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column"
                                    style="--flex-direction: column; --flex-wrap: nowrap; --gap: 8px; --horizontal-alignment: flex-start; --vertical-alignment: center; --vertical-alignment-mobile: center; --width: 100%; --max-width: 100%;">
                                    <div class="group-block-content layout-panel-flex layout-panel-flex--row"
                                        style="--flex-direction: row; --flex-wrap: nowrap; --gap: 0px; --horizontal-alignment: space-between; --vertical-alignment: center; --vertical-alignment-mobile: center; --width: 100%; --max-width: 100%;">
                                        {% if item.title != blank %}
                                            <div class="spacing-style text-block custom custom-typography custom-font-size custom-color"
                                                style="--padding-block-start: 0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color: var(--color-foreground); --font-size: var(--font-size--xs); --font-weight: var(--font-subheading--weight); --font-family: var(--font-subheading--family); --text-transform: uppercase; --text-wrap: pretty; --line-height: var(--line-height--body-normal); --letter-spacing: var(--letter-spacing--body-normal); --width: fit-content; --max-width: fit-content;">
                                                {{ item.title }}
                                            </div>
                                        {% endif %}
                                        {% if item.product != blank %}
                                            <div class="spacing-style text-block custom custom-typography custom-font-size custom-color"
                                            style="--padding-block-start: 0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color: var(--color-foreground); --font-size: var(--font-size--xs); --font-weight: var(--font-subheading--weight); --font-family: var(--font-subheading--family); --text-transform: uppercase; --text-wrap: pretty; --line-height: var(--line-height--body-normal); --letter-spacing: var(--letter-spacing--body-normal); --width: fit-content; --max-width: fit-content; flex: 0 auto;">
                                                + {{ all_products[item.product].price | money_without_trailing_zeros }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if item.details != blank %}
                                        <div class="spacing-style text-block custom custom-typography custom-font-size custom-color"
                                            style="--padding-block-start: 0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color: var(--color-foreground); --font-size: 0.75rem; --font-weight: var(--font-body--weight); --font-family: var(--font-body--family); --text-transform: unset; --text-wrap: pretty; --line-height: var(--line-height--body-normal); --letter-spacing: var(--letter-spacing--body-normal); --width: fit-content; --max-width: 18.5rem;">
                                            {{ item.details | metafield_tag }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endunless %}
                </div>
            {% else %}
                {% capture field %}
                    <custom-input class="custom-input--field">
                        <div class="custom-input-wrapper">
                            <input
                                type="{{ block_settings.type }}"
                                id="CustomForm-{{ block_settings.label | handleize }}"
                                class="custom-form__input"
                                autocomplete="name"
                                form="{{ product_form_id }}"
                                name="properties[{{ block_settings.name }}]"
                                placeholder="{{ block_settings.label }}"
                                {% if block_settings.required == true %}
                                    required
                                {% endif %}
                            >

                            <label
                                for="CustomForm-{{ block_settings.label | handleize }}"
                            >
                                {{ block_settings.label }}{% if block_settings.required == true %}<span aria-hidden="true">*</span>{% endif %}
                            </label>
                        </div>
                        {% if block_settings.error_message != blank %}
                            <div class="error-message hidden">
                                {{ block_settings.error_message }}
                            </div>
                        {% endif %}
                    </custom-input>
                {% endcapture %}

                {% if block_settings.heading  != blank %}
                    <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column"
                        style="--flex-direction: column; --flex-wrap: nowrap; --gap: 12px; --horizontal-alignment: flex-start; --vertical-alignment: center; --vertical-alignment-mobile: center;">
                        <div class="spacing-style text-block custom custom-typography custom-font-size custom-color"
                            style="--padding-block-start: 0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color: var(--color-foreground); --font-size: 0.75rem; --font-weight: var(--font-subheading--weight); --font-family: var(--font-subheading--family); --text-transform: uppercase; --text-wrap: pretty; --line-height: var(--line-height--body-normal); --letter-spacing: var(--letter-spacing--body-normal); --width: fit-content; --max-width: var(--max-width--body-normal);">
                            {{ block_settings.heading }}
                        </div>
                        <div class="size-style" style="--size-style-width: 100%; --size-style-height: ; --size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;">
                            {{ field }}
                        </div>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

        {% endcase %}
</div>

{% stylesheet %}
    .custom-input--field {
        width: 100%;
        display: block;
    }
    .custom-input-wrapper {
        position: relative;
    }

    .error-message {
        margin-top: var(--margin-2xs);
        line-height: 1em;
    }

    .has-error .error-message {
        display: block !important;
        color: #c34040;
    }

    .custom-input--field.has-error label {
        color: #c34040;
    }

    .custom-input--field.has-error {
        --color-input-border: #c34040;
    }

    .custom-form__input {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--color-foreground);
        background-color: var(--color-input-background);
        padding: var(--padding-lg) var(--padding-xl) var(--padding-2xs);
        border-radius: var(--style-border-radius-inputs);
        border: var(--style-border-width-inputs) solid var(--color-input-border);
        -webkit-font-smoothing: antialiased;
    }
    
    .custom-form__input::placeholder {
        visibility: hidden;
    }

    .custom-input--field label {
        position: absolute;
        top: 1rem;
        left: var(--margin-xl);
        pointer-events: none;
        transition-duration: var(--hover-transition-duration);
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        width: calc(100% - var(--margin-xl));
        line-height: 1em;
        z-index: 1;
    }

    .custom-form__input:focus~label,.custom-form__input:not(:placeholder-shown) ~ label {
        font-size: var(--font-size--xs);
        letter-spacing: .2px;
        top: 6px;
        width: calc(100% - var(--margin-xl));
    }
    
    date-picker .custom-form__input {
        font-size: var(--font-size--xs);
        font-family: var(--font-h5--family);
    }

    .custom-input--field date-picker label {
        top: .8rem;
    }

    date-picker .custom-form__input:focus~label,date-picker .custom-form__input:not(:placeholder-shown) ~ label {
        top: 4px;
    }

    .ai-datepicker-month-year {
        cursor: pointer;
        position: relative;
    }

    .ai-datepicker-month-year:after {
        content: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 5.5L7 9.5L3 5.5' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        position: absolute;
        right: -1rem;
        top: .1rem;
    }

    .ai-datepicker-container {
        position: relative;
        width: 100%;
    }

    .ai-datepicker-calendar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--color-background);
        border: 1px solid var(--color-border);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
        margin-top: var(--margin-xs);
    }

    .ai-datepicker-calendar.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .ai-datepicker-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    .ai-datepicker-nav {
        background: none;
        border: none;
        cursor: pointer;
        padding: var(--padding-2xs);
        transition: background-color 0.2s ease;
        -webkit-tap-highlight-color: transparent;
    }

    .ai-datepicker-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: var(--gap-2xs);
        padding: 16px;
    }

    .ai-datepicker-day-header {
        text-align: center;
        font-family: var(--font-subheading--family);
        font-style: var(--font-subheading--style);
        font-weight: var(--font-subheading--weight);
        font-size: var(--font-size--sm);
    }

    .ai-datepicker-day {
        padding: var(--padding-2xs) var(--padding-xs);
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-family: var(--font-subheading--family);
        font-style: var(--font-subheading--style);
        font-weight: var(--font-subheading--weight);
        font-size: var(--font-size--sm);
    }

    .ai-datepicker-day.selected {
        background-color: var(--color-primary-button-background);
        color: var(--color-primary-button-text);
    }

    .ai-datepicker-day.disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }

    .ai-datepicker-day.other-month {
        opacity: 0;
        pointer-events: none;
    }

    .ai-datepicker-year-selector {
        max-height: 300px; /* or any height you want */
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs); /* spacing between years */
        padding: var(--padding-sm);
    }

    .ai-datepicker-year-selector span {
        cursor: pointer;
        padding: var(--padding-2xs);
        text-align: center;
        font-family: var(--font-subheading--family);
        font-style: var(--font-subheading--style);
        font-weight: var(--font-subheading--weight);
        font-size: var(--font-size--sm);
    }

    .ai-datepicker-year-selector span.selected {
        font-size: var(--font-h3--size);
    }

    .ai-datepicker-year.disabled {
        opacity: .3;
        pointer-events: none;
        cursor: not-allowed;
    }

    .ai-datepicker-nav[data-action="prev-month"] svg {
        transform: rotate(90deg);
    }

    .ai-datepicker-nav[data-action="next-month"] svg {
        transform: rotate(-90deg);
    }

    .datepicker-icon {
        position: absolute;
        right: var(--padding-xl);
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }

    .datepicker-icon svg {
        display: block;
    }
    .ai-datepicker-header .ai-datepicker-nav[disabled] {
        opacity: 0;
        visibility: hidden;
    }

    .priority-fee-item {
        width: 100%;
        padding: var(--padding-sm);
        background: rgb(248 246 239 / 1.0);
        display: none;

        &.active {
            display: block;
        }
    }

    .priority-fee-item .metafield-rich_text_field > * {
        margin: 0;
    }

    @media screen and (max-width: 749px) {
        .ai-datepicker-calendar {
            left: 0;
            right: 0;
        }
    }
{% endstylesheet %}

{% schema %}
    {
        "name": "Input Field",
        "tag": null,
        "settings": [
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Heading",
                "info": "Heading above the field"
            },
            {
                "type": "text",
                "id": "label",
                "label": "Label",
                "info": "Label inside the field"
            },
            {
                "type": "checkbox",
                "id": "label_outside",
                "label": "Place above the field",
                "default": false,
                "visible_if": "{{ block.settings.label != blank and block.settings.type != 'datepicker' }}"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Name",
                "info": "Name property in the backend"
            },
            {
            "type": "select",
            "id": "type",
            "label": "Field type",
            "options": [
                {
                    "value": "text",
                    "label": "Text"
                },
                {
                    "value": "email",
                    "label": "Email"
                },
                {
                    "value": "tel",
                    "label": "Telephone"
                },
                {
                    "value": "number",
                    "label": "Number"
                },
                {
                    "value": "textarea",
                    "label": "Textarea"
                },
                {
                    "value": "datepicker",
                    "label": "Date picker"
                }
            ],
            "default": "text"
            },
            {
                "type": "number",
                "id": "lead_date",
                "label": "Lead date",
                "info": "Enter the number of days from today before the first selectable date. Example: 2 = two days from now.",
                "visible_if": "{{ block.settings.type == 'datepicker' }}"
            },
            {
                "type": "metaobject_list",
                "id": "priority_fees",
                "label": "Priority Fees",
                "metaobject_type": "priority_fees",
                "info": "(Optional) only use for date picker wedding dress"
            },
            {
                "type": "number",
                "id": "standard_lead_date",
                "label": "Standard fee lead date",
                "default": 180,
                "visible_if": "{{ block.settings.type == 'datepicker' and block.settings.priority_fees != blank }}"
            },
            {
                "type": "checkbox",
                "id": "required",
                "label": "Required",
                "default": false
            },
            {
                "type": "text",
                "id": "error_message",
                "label": "Error message"
            },
            {
                "type": "select",
                "id": "width",
                "label": "t:settings.width_desktop",
                "options": [
                    {
                    "value": "fit-content",
                    "label": "t:options.fit_content"
                    },
                    {
                    "value": "fill",
                    "label": "t:options.fill"
                    },
                    {
                    "value": "custom",
                    "label": "t:options.custom"
                    }
                ],
                "default": "fill"
                },
                {
                "type": "range",
                "id": "custom_width",
                "label": "t:settings.custom_width",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 100,
                "visible_if": "{{ block.settings.width == 'custom' }}"
                },
                {
                "type": "select",
                "id": "width_mobile",
                "label": "t:settings.width_mobile",
                "options": [
                    {
                    "value": "fit-content",
                    "label": "t:options.fit_content"
                    },
                    {
                    "value": "fill",
                    "label": "t:options.fill"
                    },
                    {
                    "value": "custom",
                    "label": "t:options.custom"
                    }
                ],
                "default": "fill"
                },
                {
                "type": "range",
                "id": "custom_width_mobile",
                "label": "t:settings.custom_width",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 100,
                "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
            },
            {
                "type": "text",
                "id": "hide_if_tag",
                "label": "Hide if product tag contains",
                "visible_if": "{{ block.settings.type == 'datepicker' }}"
            }
        ],
        "presets": [
            {
            "name": "Input Field",
            "category": "t:categories.forms"
            }
        ]
    }
{% endschema %}