{%- doc -%}
  Renders a menu button.

  @param {string} [variant] - What version of the menu to render. Defaults to header menu.
{%- enddoc -%}

{% case variant %}
    {% when 'right_menu' %}
        <a
        {% if block.settings.link == blank %}
            role="link"
            aria-disabled="true"
        {% else %}
            href="{{ block.settings.link }}"
        {% endif %}
        class="
            menu-button
            size-style
            {{ block.settings.style_class }}
            {{ block.settings.style_class }}--{{ block.id }}
        "
        style="{% render 'size-style', settings: block.settings %}"
        {%- if block.settings.open_in_new_tab -%}
            target="_blank"
            rel="noopener noreferrer"
        {%- endif -%}
        {{ block.shopify_attributes }}
        >
        {{ block.settings.label }}
        </a>
    {% when 'drawer' %}
        <div class="menu-drawer__button">
            <a
            {% if block.settings.link == blank %}
                role="link"
                aria-disabled="true"
            {% else %}
                href="{{ block.settings.link }}"
            {% endif %}
            class="
                menu-button
                size-style
                {{ block.settings.drawer_style_class }}
                {{ block.settings.drawer_style_class }}--{{ block.id }}
            "
            style="{% render 'size-style', settings: block.settings %}"
            {%- if block.settings.open_in_new_tab -%}
                target="_blank"
                rel="noopener noreferrer"
            {%- endif -%}
            {{ block.shopify_attributes }}
            >
            {{ block.settings.label }}
            </a>
        </div>
{% endcase %}

{% stylesheet %}
    .menu-button {
        --button-padding-inline: 16px;
        --button-padding-block: 12px;
    }
    .menu-button {
        &:not(.button-secondary) {
            color: var(--button-background-color);
            background-color: #e5e5e5;
        }
    }
    .menu-button {
        --color-secondary-button-text: var(--color-foreground);
        --color-secondary-button-border: var(--color-foreground);
        font-size: 0.75rem;
        white-space: nowrap;
    }
    .menu-button.button-secondary {
      --style-border-radius-buttons-secondary: 4px;
    }
    
    .menu-button.button-secondary:hover {
      --button-border-color: var(--color-foreground);
      background: transparent;
      color: var(--color-foreground);
    }

    .menu-drawer__button {
        padding: var(--padding-xs) var(--drawer-padding) var(--padding-xl);
    }

  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Menu Button",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "t:settings.label",
      "default": "t:text_defaults.button_label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "t:settings.open_new_tab",
      "default": false
    },
    {
        "type": "header",
        "content": "Menu Button style"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        },
        {
          "value": "link",
          "label": "t:options.link"
        }
      ],
      "default": "button"
    },
    {
        "type": "header",
        "content": "Drawer Button style"
    },
    {
      "type": "select",
      "id": "drawer_style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        },
        {
          "value": "link",
          "label": "t:options.link"
        }
      ],
      "default": "button"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == \"custom\" }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == \"custom\" }}"
    }
  ],
  "presets": [
    {
      "name": "Menu Button",
      "category": "t:categories.basic",
      "settings": {
        "link": "shopify://collections/all"
      }
    }
  ]
}
{% endschema %}