

{%- doc -%}
  Renders block content for all blocks that extend the group block.
  @param {object} item - The item object.
{%- enddoc -%}

{%- assign block_settings = block.settings -%}

{% comment %} {% capture appointment_link %}
  {% content_for 'block', id: 'heading', type: '_heading', text: article.title %}
{% endcapture %} {% endcomment %}

<div
  class="trunk-show-card"
  {{ block.shopify_attributes }}
>
  <div class="
      trunk-post-card__content
      layout-panel-flex
      layout-panel-flex--column
      spacing-style
      border-style
      gap-style
      {% if block_settings.inherit_color_scheme == false %} color-{{ block_settings.color_scheme }}{% endif %}
    "
    style="
      {% render 'border-override', settings: block_settings %}
      {% render 'layout-panel-style', settings: block_settings %}
      {% render 'spacing-style', settings: block_settings %}
      {% render 'gap-style', value: block_settings.product_card_gap %}
    "
  >
    {% content_for 'block', id: 'trunk-start-date', type: '_trunk-start-date', start_date: item.start_date %}
    {% content_for 'block', id: 'heading', type: '_heading', text: item.event_name %}

    <div class="spacing-style text-block custom text-block--align-center text-block--full-width custom-typography custom-font-size  custom-color" style="
      --padding-block-start: 0px; --padding-block-end:0px; 
      --padding-inline-start:0px; --padding-inline-end:0px; 
      --color: var(--color-foreground);--font-size: var(--font-size--sm);
      --font-weight: var(--font-accent--weight);
      --font-family: var(--font-accent--family);
      --text-transform: none;--text-wrap: pretty;
      --line-height: var(--line-height--body-tight);
      --letter-spacing: var(--letter-spacing--body-loose);
      --width: 100%;
      --max-width: var(--max-width--body-none);
      --text-align: left;
    ">
    {% assign end_date = item.end_date | date: '%B %d, %Y' %}
      <p>
        {{ 'trunk_shows.ends' | t: date: end_date }}
      </p>
      <p style="margin: 0;">
        {{ item.address }}
      </p>
    </div>
    <div class=" spacing-style text-block custom text-block--align-center text-block--full-width custom-typography custom-font-size  custom-color" style="
      --padding-block-start: 0px; --padding-block-end:0px; 
      --padding-inline-start:0px; --padding-inline-end:0px; 
      --color: var(--color-foreground);--font-size: var(--font-size--sm);
      --font-weight: var(--font-accent--weight);
      --font-family: var(--font-accent--family);
      --text-transform: none;--text-wrap: pretty;
      --line-height: var(--line-height--body-tight);
      --letter-spacing: var(--letter-spacing--body-loose);
      --width: 100%;
      --max-width: var(--max-width--body-none);
      --text-align: left;
    ">
      <p>
        {% if item.phone_number.value != blank %}
          <a href="{{ item.phone_number.value.url }}">
            {{ item.phone_number.value.text }}
          </a>
        {% endif %}
      </p>
      <p style="margin: 0;">
        {% if item.email.value != blank %}
          <a href="{{ item.email.value.url }}">
            {{ item.email.value.text }}
          </a>
        {% endif %}
      </p>
    </div>

    {% if item.appointment_link.value != blank %}
      <div>
        <a href="{{ item.appointment_link.value.url }}" class="
          size-style
          link
        " target="_blank" style="--size-style-width: fit-content; font-size: var(--font-size--xs); --size-style-height: ;--size-style-width-mobile: fit-content; --size-style-width-mobile-min: fit-content;">
          {{ item.appointment_link.value.text }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .trunk-show-card {
    height: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Trunk Show card",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.resource_reference_product_card"
    },
    {
      "type": "range",
      "id": "product_card_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}