{% assign block_settings = block.settings %}

{% if product.metafields.product_content.product_ready_to_wear_url != blank and  product.metafields.product_content.product_made_to_order_url != blank %}
    <div class="
        {% if block_settings.inherit_color_scheme == false -%}
            color-{{ block_settings.color_scheme }}
        {%- endif %}
    " {{ block.shopify_attributes }}>
        <div class="flex switcher-row">
            <div>
                <a href="{{ all_products[product.metafields.product_content.product_made_to_order_url].url }}" class="button
                {% if product.id == all_products[product.metafields.product_content.product_made_to_order_url].id %}
                    button-primary
                {% else %}
                    button-secondary
                {% endif %}">
                    {{ 'actions.made_to_order' | t }}
                </a>
            </div>
            <div>
                <a href="{{ all_products[product.metafields.product_content.product_ready_to_wear_url].url }}" class="button
                    {% if product.id == all_products[product.metafields.product_content.product_ready_to_wear_url].id %}
                        button-primary
                    {% else %}
                        button-secondary
                    {% endif %}
                ">
                    {{ 'actions.ready_to_wear' | t }}
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% stylesheet %}
    .switcher-row {
        align-items: center;
        padding: 4px;
        gap: 2px;

        & > div {
            width: 50%;
        }

        .button {
            width: 100%;
            padding-block: 5px;
            --button-padding-inline: 10px;
            --button-font-weight-primary: 500;

            @media (max-width: 749px) {
                font-size: var(--font-size--xs);
                --button-padding-inline: 5px;
            }
        }
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Type Switcher",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-3",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    }
  ],
  "presets": [
    {
        "name": "Type Switcher"
    }
  ]
}
{% endschema %}