

{%- doc -%}
  Renders product recommendations.
  {section.id} - identifies the parent section for the Section Rendering API

  https://shopify.dev/docs/api/section-rendering-api
{%- enddoc -%}
{% liquid
  assign metaobject_object = metaobjects[section.settings.metaobject_type]

  assign states = metaobject_object.values | map: 'state_province'
%}

<div
  class="state-tags-block shopify-block"
  data-section-id="{{ section.id }}"
  data-testid="state-tags-block"
  {{ block.shopify_attributes }}
>
  <div
    class="
      color-{{ block.settings.color_scheme }}
      spacing-style
      gap-style
    "
    style="
      {%  render 'spacing-style', settings: block.settings %}
    "
  >
    
    {% capture list_items %}
        {% capture first_child %}
            <div class="state-tags-wrapper ">
                <a href="#" title="{{ 'accessibility.all' | t }}" data-state-tag="all" class="button button--state-filter active">
                    {{ 'accessibility.all' | t }}
                </a>
            </div>
        {% endcapture %}
        {% render 'slideshow-slide', index: 0, children: first_child, class: 'state-tags-list__slide' %}
        <!--@list/split-->
        {% for item in states %}
            {% capture children %}
                <div class="state-tags-wrapper ">
                  <a href="javascript:void(0)" data-state-tag="{{ item | strip | handleize }}" title="{{ item.title }}" class="button button--state-filter">
                    {{ item | strip }}
                  </a>
                </div>
            {% endcapture %}

            {% render 'slideshow-slide', index: forloop.index, children: children, class: 'state-tags-list__slide' %}
            {% unless forloop.last or states.size == 1 %}
                <!--@list/split-->
            {% endunless %}
        {% endfor %}
    {% endcapture %}

    {% liquid
        # Create an array from the list items to be used for different layout types
        assign list_items_array = list_items | strip | split: '<!--@list/split-->'

        assign slideshow_class = 'state-tags__list list-unstyled'
    %}

    {% capture slideshow %}
        {% render 'slideshow',
            class: slideshow_class,
            infinite: false,
            slides: list_items,
            slide_count: list_items_array.size | plus: 1,
            icon_style: 'chevron',
            slideshow_gutters: 'start end'
        %}
    {% endcapture %}

    {% if list_items_array.size >= 10 %}
        <div class="flex inline-slider-row hidden--mobile title--aligned-center">
            <div>
                {{ slideshow }}
            </div>
            <div>
                {% render 'header-slideshow-arrows', section_id: section.id %}
            </div>
        </div>
        <div class="hidden--desktop">
            {{ slideshow }}
        </div>
    {% else %}
      <div class="flex title--aligned-center">
        <div style="flex: 1 auto;">
          {{ slideshow }}
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% stylesheet %}

    .trunk-show-item {
      display: none;

      &.active {
        display: block;
      }
    }
    
    .state-tags__list {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding-inline: 0;
      scroll-snap-type: x mandatory;
      scroll-padding: 0 var(--padding-lg);
      scrollbar-width: none;
      -ms-overflow-style: none;
      animation: search-element-slide-up var(--animation-speed-medium) var(--animation-timing-bounce) backwards;
      animation-duration: var(--animation-speed-medium);
      transition: opacity var(--animation-speed-medium) var(--animation-timing-fade-in);
    }

    .state-tags-list__slide {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: fit-content;
        scroll-margin-block: calc(var(--title-font-size) + var(--title-margin-block) + var(--padding-sm)) calc(var(--padding-lg) + var(--button-padding-block) * 2);
        transition: transform var(--animation-speed-medium) var(--animation-timing-default), background-color var(--animation-speed-medium) var(--animation-timing-hover), border-color var(--animation-speed-medium) var(--animation-timing-hover);
    }

    .state-tags-wrapper {
        position: relative;
        transition: transform var(--hover-transition-duration) var(--hover-transition-timing), box-shadow var(--hover-transition-duration) var(--hover-transition-timing);
        will-change: transform, box-shadow;
        z-index: var(--layer-flat);
        content-visibility: visible;
    }

    .state-tags__list slideshow-slides {
        padding-block: var(--padding-md);
        margin-block: calc(-1 * var(--padding-md));
        gap: var(--gap-sm);
        --gutter-slide-width: var(--padding-lg);

        @media (min-width: 750px) {
            padding-inline-start: 0px;
        }
    }

    .state-tags-list__slide {
      @media (min-width: 750px) {
        &:first-child {
          margin-inline-start: auto;
        }
        
        &:last-child {
          margin-inline-end: auto;
        }
      }
    }

    .state-tags-block {
        border-bottom: 1px solid var(--color-border);
        grid-column: 1 / -1;

        @media (min-width: 750px) {
          padding-bottom: 1.5rem;
          padding-inline: var(--page-margin);
        }

        @media (max-width: 749px) {
            
            .spacing-style {
                --padding-block-end: var(--padding-md) !important;
                --padding-block-start: var(--padding-md) !important;
            }
        }

        .button {
          font-size: var(--font-size--xs);
          --button-padding-inline: 16px;
          --button-padding-block: 5px;
          display: block;
        }

        .all-trunk-shows, .active {
            --button-color: var(--color-primary-button-hover-text) !important;
            --button-background-color: var(--color-primary-button-hover-background) !important;
            --button-border-color: var(--color-primary-button-hover-border) !important;
        }
    }
{% endstylesheet %}

{% schema %}
{
  "name": "States Filter",
  "class": "states-filter",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}