

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div class="section color-{{ section.settings.color_scheme }}">
  <div
    class="
      spacing-style
      layout-panel-flex
      layout-panel-flex--column
      section-content-wrapper
      mobile-column
    "
    style="
      {% render 'layout-panel-style', settings: section.settings %}
      {% render 'spacing-style', settings: section.settings %}
    "
  >
    {% comment %} <header>
      {%- content_for 'block', id: 'blog-post-title', type: 'text' %}
      {%- content_for 'block', id: 'blog-post-details', type: '_blog-post-info-text' %}
    </header> {% endcomment %}
    {%-  liquid
      assign blog_post_metaobjects = article.metafields.content.blog_post_metaobjects.value
    -%}

    {% for item in blog_post_metaobjects %}
      {%- case item.system.type -%}
        {%- when 'blog_post_hero_banner' -%}
          {%- content_for 'block', id: 'blog-post-image', type: '_article-banner', desktop_image: item.image_desktop.value, mobile_image: item.image_mobile.value %}
        {%- when 'blog_post_text' -%}
            {% if item.show_article_title %}
                <div
                  class="
                    layout-panel-flex
                    layout-panel-flex--column
                    mobile-column
                    section-content-wrapper
                    spacing-style
                  "
                  style="
                    --flex-direction: column; --flex-wrap: nowrap;
                    --gap: var(--margin-sm);
                    --horizontal-alignment: ; --vertical-alignment: ;
                    --vertical-alignment-mobile: ;
                    --padding-block-start: max(20px, calc(var(--spacing-scale) * 80px));--padding-block-end: 0px;
                    width: 100%;
                    max-width: var(--normal-content-width);
                    margin: 0 auto;
                  "
                >
                  <div class="spacing-style text-block h3" style="
                  --padding-block-start: 0px; --padding-block-end:0px; 
                  --padding-inline-start:0px; --padding-inline-end:0px; 
                  --color: var(--color-foreground);
                  --width: fit-content;
                  --max-width: var(--max-width--body-none);
                  ">
                    <h1>{{ article.title }}</h1>
                  </div>
                  <div>
                    <span>{{- article.published_at | date: '%dth %B %Y' -}}</span>
                  </div>
                </div>
            {% endif %}
            {% if item.show_social_share %}
            {% endif %}

            {% capture nodes_content %}

              <div class="blog-content-loop">
                {% for content in item.content.value %}
                  {% assign heading = content.heading %}
                  {% assign description = content.description | metafield_tag %}

                  <div class="content-loop-item">
                    {% if heading != blank %}
                        <h3 class="h4">{{ heading }}</h3>
                    {% endif %}

                    {% if description %}
                      {{ content.description | metafield_tag }}
                    {% endif %}

                    {% if content.cta_text != blank and content.cta_link != blank %}
                      <a class="size-style button-secondary" href="{{ content.cta_link }}">{{ content.cta_text }}</a>
                    {% endif %}
                  </div>

                {% endfor %}
              </div>
            {% endcapture %}
            {%- content_for 'block', id: 'blog-post-content', type: '_blog-post-content', content: nodes_content %}

        {%- when 'blog_post_images' -%}
          {% assign size = item.image.value.count -%}

          {% if size > 0 %}
            {%- content_for 'block', id: 'article-images', type: '_article-images', images: item.image.value %}
          {% endif %}
        {%- when 'blog_posts_information' -%}
          {% assign justify = 'justify-center' %}
          {% if item.venue_link.value != blank and item.model_link.value != blank and item.photographer_link.value != blank and item.makeup_artist_link.value != blank and
          item.bridesmaid_dresses_link.value != blank and item.jewellery_link.value != blank  %}
            {% assign justify = 'justify-between' %}
          {% endif %}

          {% if item.venue_link.value != blank or item.model_link.value != blank or item.photographer_link.value != blank or item.makeup_artist_link.value != blank or
          item.bridesmaid_dresses_link.value != blank or item.jewellery_link.value != blank or item.flowers_link.value != blank or item.suits_link.value != blank or
          item.your_mwl_retailer_link.value != blank %}

            <div class="article-information-credits flex {{ justify }}">
              {% render 'article-information', title: 'Venue', value: item.venue_link.value.text, url: item.venue_link.value.url %}
              {% render 'article-information', title: 'MODEL', value: item.model_link.value.text, url: item.model_link.value.url %}
              {% render 'article-information', title: 'Photographer', value: item.photographer_link.value.text, url: item.photographer_link.value.url %}
              {% render 'article-information', title: 'MAKEUP ARTIST', value: item.makeup_artist_link.value.text, url: item.makeup_artist_link.value.url %}
              {% render 'article-information', title: 'BRIDESMAID DRESSES', value: item.bridesmaid_dresses_link.value.text, url: item.bridesmaid_dresses_link.value.url %}
              {% render 'article-information', title: 'Jewellery', value: item.jewellery_link.value.text, url: item.jewellery_link.value.url %}
              {% render 'article-information', title: 'Flowers', value: item.flowers_link.value.text, url: item.flowers_link.value.url %}
              {% render 'article-information', title: 'Suits', value: item.suits_link.value.text, url: item.suits_link.value.url %}
              {% render 'article-information', title: 'Your MWL Retailer', value: item.your_mwl_retailer_link.value.text, url: item.your_mwl_retailer_link.value.url %}
            </div>
          {% endif %}
        {%- when 'blog_post_related_products' -%}
            {% assign size = item.products.value.count -%}

            {% if size > 0 %}
              {%- content_for 'block', id: 'blog-related-products', type: '_blog-related-products', products: item.products.value %}
            {% endif %}
      {%- endcase -%}
    {% endfor %}
    {% comment %} {%- if article.image -%}
      {%- content_for 'block', id: 'blog-post-image', type: '_blog-post-featured-image', image: article.image %}
    {%- endif -%} {% endcomment %}

    {% if blog.comments_enabled? %}
      <div class="blog-post-comments-container">
        <h2 class="h3">{{- 'blogs.article.comments_heading' | t: count: article.comments_count -}}</h2>

        <div class="blog-post-comments">
          {% paginate article.comments by 10 %}
            {% for comment in article.comments %}
              <div class="blog-post-comment">
                {{ comment.content }}
                <div class="blog-post-comment__author">
                  <span class="blog-post-comment__author-name">{{- comment.author -}}</span>
                  <span>{{- 'blogs.article.comment_author_separator' | t -}}</span>
                  <span class="blog-post-comment__date">
                    {{- comment.created_at | time_tag: format: 'date' -}}
                  </span>
                </div>
              </div>
            {% endfor %}

            <div class="blog-post-comments-pagination">
              {{- paginate | default_pagination -}}
            </div>
          {% endpaginate %}
        </div>

        {% render 'blog-comment-form', article: article, section_id: section.id %}
      </div>
    {% endif %}
  </div>
</div>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% stylesheet %}
  .blog-post-comments-container {
    width: 100%;
    max-width: var(--normal-content-width);
    margin: 0 auto;
  }

  .blog-post-content + .blog-post-content .spacing-style {
    padding-top: 0;
  }
  .article-information-credits {
    gap: 6rem;

    @media (max-width: 749px) {
      gap: 2rem 1rem;
      flex-wrap: wrap;
      justify-content: flex-start;

      > div {
        width: calc(50% - 1rem / 2);
      }
    }
  }

  .blog-post-comments {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xl);
  }

  .blog-post-comment__author {
    display: flex;
    align-items: center;
    gap: var(--gap-2xs);
    margin-top: var(--margin-md);
    font-size: var(--font-size--body-sm);
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }

  .blog-post-comments-pagination {
    display: flex;
    justify-content: center;
    gap: var(--gap-2xs);
  }

  .blog-post-comments-pagination,
  .blog-post-comments-pagination a {
    color: var(--color-foreground);
  }

  .blog-post-comments-pagination .current {
    color: var(--color-foreground);
  }

  .blog-post-comments-pagination .current,
  .blog-post-comments-pagination a {
    display: block;
    padding: var(--padding-2xs) var(--padding-xs);
  }

  .blog-post-comments-pagination .current,
  .blog-post-comments-pagination a:hover {
    border-bottom: 1px solid var(--color-foreground);
  }

  .blog-content-loop {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: 749px) {
      gap: 2rem;
    }
  }

  .content-loop-item h3 {
    margin-block-end: var(--margin-md) !important;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_post",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        }
      ],
      "default": "column",
      "visible_if": "{{ section.settings.gap < 0 }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": []
}
{% endschema %}
